ul {
  list-style-type: none;
}

#menu {
  font-size: 18px;
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  text-align: right;
  width: 250px;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}
